/*头部公共属性*/
/* 顶部导航栏 */
.container{
	height: 36px;
}
.container .top-lef{
	width: 540px;
	height: 36px;
	display: inline-block;
}
.container .top-lef a,.container .top-rig a,
.container .kefu a,.container .phone a,
.container .top-shop a{
	color: #A4A4A4;
	font-size: 12px;
}
.container .top-rig{
	width:136px ;
	display: inline-block;
	margin-left: 164px;
}
.container .kefu{
	width: 74px;
	height: 12px;
	display: inline-block;
	background: url(../img/xia.png) no-repeat 48px -1px;
}
.container .phone{
	width: 64px;
	height: 12px;
	display: inline-block;
	background: url(../img/xia.png) no-repeat 36px -1px;
}
.container .top-shop{
	display: inline-block;
	width: 90px;
	height: 26px;
	background-color:#F2F2F2 ;
	padding-top: 10px;
}
.container .top-shop .img,.container .top-shop img{
	width: 14px;
	height: 14px;
}
.container .top span{
	color: #D3D3D3;
}

.container .top a:hover{
	color: #CA151D;
	}
.logo-home{
	height: 74px;
}	
	/* logo图部分 */
.logo-home .logo{
	height: 41px;
	padding: 18px 0px 15px;
	position: relative;
}
.container .logo-img1{
	width: 205px;
	height: 36px;
}
.container .logo-img2{
	width: 74px;
	height: 24px;
	margin-left: 24px;
	
}
.container .logo p{
	display: inline-block;
	margin-left: 24px;
	padding-bottom: 5px;
	
}
.container .logo p a{
	font-size: 16px;
	color: #333333;
}
.container .logo .texterea{
	display: inline-block;
	margin-right:20px ;
	margin-top: 5px;
}
.container .logo .text{
	position: absolute;
	right: 10px;
	top: 24px;
	width: 285px;
	height: 30px;
	border: none;
	background-color: #F0F0F0;
	border-radius:40px;
}
.container .logo .btn{
	position: absolute;
	top: 24px;
	right: 8px;
	width: 40px;
	height: 30px;
	border: none;
	background-color: #F0F0F0;
	border-radius:40px;
	background-image: url(../img/da.png);
	background-repeat: no-repeat;
	background-position: center;
}
.container .logo .texterea .lian{
	position: absolute;
	width: 128px;
	right: 18px;
	top: 28px;
}
.container .logo .texterea .lian a{
	color:#CF0A2C;
}

.shou{
	height: 19px;
	padding-top: 10px;
}
.shou a,.shou span{
	font-size: 12px;
	color: ##333333;
}
.hr-1{
	height: 10px;
	width:100%;
}
.layout{
	height: 103px;
	margin-bottom: 20px;
	border: 1px solid #DEDEDE;
}
.layout .fen-lei{
	height: 51px;
	border-bottom:1px solid #DEDEDE;
}
.layout .fen-lei h6{
	display: inline-block;
	font-weight: normal;
	margin-left: 50px;
	line-height: 50px;
	color: #3A3A3A;
}
.layout .fen-lei p{
	display: inline-block;
	margin-left: 12px;
	line-height: 50px;
}
.layout .fen-lei p a{
	color: #00B5E2;
}
.layout .fen-lei .p-value{
	display: inline-block;
	width: 1058px;
	height: 50px;
	line-height: 50px;
}
.layout .fen-lei .p-value a{
	display: inline-block;
	margin-left: 20px;
	color: #A59999;
}

.layout .pai-xu{
	height: 50px;
	border-bottom: 0px;
}
.layout .fen-lei .p-value{
	display: inline-block;
	width: 1000px;
	height: 50px;
	line-height: 50px;
}

/*手机产品*/
.layout-chan{
	height: 1190px;
}
.layout-chan ul{
	width: 1230px;
}
.layout-chan li{
	width: 244px;
	height: 384px;
}
.layout-chan li .pro-panels{
	width: 222px;
	height: 362px;
	border: 1px solid #DEDEDE;
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;
}
.layout-chan li .pro-panels .p-img{
	width: 222px;
	height: 180px;
	padding-top: 38px;
	padding-bottom: 24px;
}
.layout-chan li .pro-panels .p-img img{
	width: 180px;
	height: 180px;
	margin-left: 20px;
}
.layout-chan li .pro-panels .p-name{
	width: 182px;
	height: 38px;
	padding: 0px 20px;
	text-align: center;
}
.layout-chan li .pro-panels .p-name a{
	font-size: 12px;
	color: #666666;
	display: inline-block;
	width: 182px;
	height: 14px;
	margin-bottom: 2px;
}
.layout-chan li .pro-panels .p-name a.con{
	color: #00B5E2;
}

.layout-chan li .pro-panels .p-price{
	width: 222px;
	height: 31px;
	text-align: center;
}
.layout-chan li .pro-panels .p-price b{
	color: #00B5E2;
	font-size: 18px;
	font-weight: normal;
}
.layout-chan li .pro-panels .p-button{
	width: 224px;
	height: 32px;
	margin-top: 20px;
}
.layout-chan li .pro-panels .p-button a{
	display: inline-block;
	width: 110px;
	height: 30px;
	border-top: 1px solid #DEDEDE;
	border-right:1px solid #DEDEDE;
	color: #00B5E2;
	text-align: center;
	line-height: 30px;
}
.layout-chan li .pro-panels .p-button span{
	display: inline-block;
	width:110px ;
	height: 30px;
	font-size: 12px;
	color: #666666;
	text-align: center;
	line-height: 30px;
	border-top: 1px solid #DEDEDE;
}
.layout-chan li .pro-panels .p-bao{
	width: 48px;
	height: 48px;
	position: absolute;
	right: 13px;
	top: 182px;
}
.layout-chan li .pro-panels .p-bao img{
	width: 48px;
	height: 48px;
}